.card{
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 45vh;

    &__side {
        transition: all .8s;
        height: 60vh;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem $color-primary-dark2;

        &--front{
            background-color: rgba($color-grey-light, .85);
            box-shadow: 0 1.5px 4px $color-primary-dark1;
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 1fr;
            
            p{
                grid-row: 1;
                grid-column: 1;
                align-self: center;
                color: $color-primary-dark2;
                letter-spacing: 1.5px;
            }
        }

        &--back{
            font-size: 1.8rem;
            color: $color-grey-light;
            transform: rotateY(180deg);
            background-image: linear-gradient(to bottom right, rgba($color-primary-light, .9), rgba($color-primary-dark1, .9));
            padding: 1.2rem;
            padding-bottom: 2rem;
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 1fr;

            p{
                grid-row: 1;
                grid-column: 1;
                align-self: center;
                line-height: 1.5;
            }

            a{
                text-decoration: none;
                color: currentColor;
            }
        }
    }

    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0deg);
    }
}

.card-horiz{
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;

    &__side {
        transition: all .8s;
        //height: 60vh;
        position: absolute;
        // top: 0;
        // left: 0;
        //width: 100%;
        backface-visibility: hidden;
        // border-radius: 3px;
        // box-shadow: 0 1.5rem 4rem $color-primary-dark2;

        // &--front{
        //     //background-color: rgba($color-grey-light, .85);
        //     //box-shadow: 0 1.5px 4px $color-primary-dark1;
        //     display: grid;
        //     grid-template-rows: 1fr;
        //     grid-template-columns: 1fr;
            
        //     p{
        //         grid-row: 1;
        //         grid-column: 1;
        //         align-self: center;
        //         //color: $color-primary-dark2;
        //         //letter-spacing: 1.5px;
        //     }
        // }

        &--back{
            font-size: 1.8rem;
            //color: $color-grey-light;
            transform: rotateX(180deg);
            //background-image: linear-gradient(to bottom right, rgba($color-primary-light, .9), rgba($color-primary-dark1, .9));
            //padding: 1.2rem;
            //padding-bottom: 2rem;
            // display: grid;
            // grid-template-rows: 1fr;
            // grid-template-columns: 1fr;

            // p{
            //     grid-row: 1;
            //     grid-column: 1;
            //     align-self: center;
            //     //line-height: 1.5;
            // }
        }
    }

    &:hover &__side--front {
        transform: rotateX(-180deg);
    }

    &:hover &__side--back {
        transform: rotateX(0deg);
    }
}