.icon__bar{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: flex-end;
    z-index: 20;
    padding-right: 1.5rem;

    @include respond(phone){
        padding-bottom: 2rem;
    }
}

.icon {
    padding: 1rem;
    transition: all .2s;

    &__link{
        fill: $color-primary;
        height: 3rem;
        width: 3rem;

        @include respond(phone){
            height: 2.5rem;
            width: 2.5rem;
        }
    }

    &:hover,
    &:active {
        transform: scale(1.15);
    } 

}