
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; //based on 16px browser font default
}

body {
    //font-family: $font-primary;
    box-sizing: border-box;
    background-color: $color-grey-light;
}

.container {
    display: grid;
}
