.shadow-container {
    box-shadow: 0 0 5px $color-secondary-dark2;
}

.dropdown {
    position: relative;
    overflow: visible;
    z-index: 150;

    &__content{
        display: none;
        position: absolute;
        list-style: none;
    }

    &__btn{
        margin: 0;
        display: block;
        width: 100%;
    }

    &:hover &__content {
        display: flex;
        flex-direction: column;
    }
}

.header__dropdown{
    width: 60%;
    transform: translateX(6.5rem);
    text-align: center;

    @include respond(tab-port){
        transform: translateX(0);
        width: 100%;
    }
}

.stickynav{
    position: fixed;
    width: 100%;
    box-shadow: 0 2px 2px $color-grey-dark;
    background-color: rgba($color-primary-dark1, .8);
    z-index: 1000;

    &__bar{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        list-style: none;
        font-size: 2.5rem;
        text-transform: uppercase;
        padding: 1rem;

        @include respond(tab-port){
            font-size: 2rem;
            padding-left: 2rem;
        }

        .not-home{
            align-self: center;
            justify-self: center;
            transition: all .2s;

            &:hover{
                transform: scale(1.15);
            }

            &-1{
                grid-column: 2 / 3;
            }
            &-2{
                grid-column: 3 / 4;
            }
        }

        .home {
            align-self: center;
            justify-self: center;
            grid-column: 1 / 2;
        }
        
        &--btn{
            text-decoration: none;
            color: $color-grey-light;
            text-shadow: 0 0 3px $color-grey-dark;
            letter-spacing: 1.5px;

            &-home{
                display: grid;
                grid-template-rows: 1fr;
                grid-template-columns: repeat(2, 1fr);

                &:hover .sticky-arrow{
                    transform: scale(1.5);
                }

                p{
                    grid-row: 1;
                    grid-column: 1;
                }

                .sticky-arrow{
                    grid-row: 1;
                    grid-column: 2;
                    padding-left: 1rem;
                    transition: all .3s;
                }
            }
        }

        &--dropdown{

            &-menu{
                list-style: none;
                box-shadow: 0 0 4px $color-primary-dark2;
                background-color: rgba($color-primary-dark1, .6);

                li{
                    padding: 2rem;
                    font-size: 2rem;

                    @include respond(tab-port){
                        font-size: 1.8rem;
                        padding: 1rem;
                    }
                }
                &-btn{
                    text-decoration: none;
                    color: $color-grey-light;
                    text-shadow: 0 0 3px $color-grey-dark;
                }
            }
        }
    }

    &__social{
        grid-column: 6 / -1;
        justify-self: center;
        align-self: center;

        @include respond(tab-port){
            grid-column: 5 / span 2;
        }
    
        &--icon{
            padding: 1rem;
            transition: all .2s;

            &:last-of-type{
                padding-right: 0rem;
            }

            &:hover,
            &:active {
                transform: scale(1.15);
            } 
        }
    }
}




.sticky__ionicon{
    fill: $color-grey-light;
    height: 3rem;
    width: 3rem;

    @include respond(tab-port){
        height: 2.5rem;
        width: 2.5rem;
    }
}

.no-display {
    display: none;
}

.gallery-filter{
    filter: blur(1.5px) brightness(65%);
}

