    //Color Variables

    $color-primary: #0f4c81;
    $color-primary-light: #43729D;
    $color-primary-medium: #275E90;
    $color-primary-dark1: #083863;
    $color-primary-dark2: #032848;

    $color-secondary: #078659;
    $color-secondary-light: #3EA37F;
    $color-secondary-medium: #21956C;
    $color-secondary-dark1: #016743;
    $color-secondary-dark2: #004B31;

    $color-purple-accent-medium: #36349c;
    $color-purple-accent-light: #5250AA;
    $color-purple-accent-dark: #12106B;

    $color-grey-light: #efefef;
    $color-grey-medium: #4A5158;
    $color-grey-dark: #151A1f;



