.projects{
    background-image: linear-gradient(to bottom right, rgba($color-primary-dark2, .5), rgba(black, .5)), url(/img/projects-background.jpg);
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 0 0 2rem black;
    padding: 5rem;

    @include respond(tab-port){
        padding: 3rem 2rem;
    }
    
    &__content{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: .35fr 1fr;
        grid-gap: 2rem;
        font-size: 2.5rem;
        text-align: center;

        @include respond(tab-port){
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: .35fr 1fr 1fr;
        }


        &--header{
            grid-column: 1 / span 2;
            grid-row: 1 / 2;
            color: white;
            text-shadow: 0 0 3px $color-grey-dark;
            text-transform: uppercase;
            letter-spacing: 3px;
            font-size: 4rem;
            background: none;
            align-self: center;
            justify-self: left;

            @include respond(tab-port){
                font-size: 3rem;
            }
            @include respond(phone){
                font-size: 2rem;
            }
        }

        &--1{
            grid-column: 1 / 2;
            grid-row: 2 / 3;
            align-self: center;
        }
        &--2{
            grid-column: 2 / 3;
            grid-row: 2 / 3;
            align-self: center;
        }
        &--3{
            grid-column: 3 / 4;
            grid-row: 2 / -1;
            align-self: center;

            @include respond(tab-port){
            grid-column: 1 / 2;
            grid-row: 3 / -1;
            }
        }
        &--4{
            grid-column: 4 / -1;
            grid-row: 2 / -1;
            align-self: center;

            @include respond(tab-port){
                grid-column: 2 / -1;
                grid-row: 3 / -1;
            }
        }
    }
}